### OS ###
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Dependencies ###
node_modules
.pnpm-store

### Logs ###
.pnpm-debug.log*
*.log

### Cache ###
.turbo

### Compiled outputs ###
dist

### Tests ###
coverage

### Temporary ###
old
tmp
