name: Pull Request

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    lint-commits:
        name: Lint / Commits
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Lint commits
              uses: ./actions/lint-commits
              with:
                  checkout: false
                  build: true

    lint-files:
        name: Lint / Files
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Lint files
              uses: ./actions/lint-files
              with:
                  checkout: false
                  build: true

    typecheck:
        name: Typecheck
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Typecheck
              uses: ./actions/typecheck
              with:
                  checkout: false
