name: Pull Request

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Create a file
              run: echo "This is a test file." > testfile.txt

            - name: Commit file
              run: |
                  git add testfile.txt
                  git commit -m "Add test file"

            - name: Check if commit is signed
              run: |
                  git log -1 --show-signature
