name: Pull Request

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    lint-commits:
        name: Lint / Commits
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: ./actions/lint-commits
              with:
                  build: true

    lint-files:
        name: Lint / Files
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: ./actions/lint-files
              with:
                  build: true

    typecheck:
        name: Typecheck
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: ./actions/typecheck
              with:
                  build: true
