name: Pull Request

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Debug git
              run: |
                  set +e
                  cat ~/.gitconfig
                  git config --get gpg.format
                  git config --get user.signingkey
                  git config --get gpg.ssh.allowedSignersFile
                  git config --get commit.gpgSign
                  git config --get tag.gpgSign
                  git log -1 --show-signature
                  git config --get user.name
                  git config --get user.email
